*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
.container {
  max-width: 70rem;
  margin-inline: auto;
  padding: 0 2rem;
}
html {
  font-family: "Poppins", sans-serif;
}
section {
  padding: 5rem 0;
}
body {
  font-size: 1.25rem;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.logo-box {
  width: 80px;
  height: 80px;

  border-radius: 50%;
  overflow: hidden;
}

.header {
  padding-block: 2rem;
}
.nav,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav {
  padding-bottom: 0.5rem;
  border-bottom: 4px solid #000;
}

.nav-list {
  gap: 2rem;
}
.nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
}
.secondary-cta {
  position: relative;
  padding: 0.25rem;
}
.secondary-cta::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  width: 0;
}

.secondary-cta:hover::after {
  width: 100%;
}

.primary-cta {
  background-color: #000;
  color: #fff;
  border: 2px solid transparent;
  border-radius: 1rem;
}
.primary-cta:is(:hover, :focus) {
  background-color: transparent;
  border-color: #000;
  color: #000;
}

.hero {
  height: auto;
  border-radius: 2rem;
  margin-top: 5rem;
  z-index: 2;
  padding: 2rem;
}
.hero img {
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.heading-secondary {
  font-family: "Alice", serif;
  font-size: 2.25rem;
}
.heading-primary {
  font-family: "Alice", serif;
  font-size: 3rem;
}

.cards .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.card-reverse {
  flex-direction: row-reverse;
}
.card-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  line-height: 1.6;
  align-items: flex-start;
}
.card-reverse .card-content {
  align-items: flex-end;
  text-align: right;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  border-bottom: 2px solid transparent;
}
.card:last-child {
  margin-bottom: 5rem;
}

.card-img {
  border-radius: 1rem;
  overflow: hidden;
  width: 300px;
  height: 300px;

  -webkit-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.26);
  transition: all 1s ease-in-out;
}
.card-img:hover {
  -webkit-box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 30px 12px rgba(0, 0, 0, 0.12);
}
.card-img:hover img {
  transform: scale(1.2);
}
.card-content {
  width: 60%;
}
.card-img img {
  transition: all 1s ease-in-out;
}

.footer {
  width: 100%;
  /* height: 400px; */
  background-color: #000;
  color: #fff;
  padding: 4rem 0;
}

.footer-nav img {
  border-radius: 50%;
  border: 2px solid #fff;
  display: block;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  padding: 2rem;
  border-radius: 2rem;
  color: #000;
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer-nav-link {
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 2rem;
  transition: all 0.5s ease;
  border-bottom: 2px solid transparent;
}
.card-content a {
  margin-top: 1rem;
  padding: 1rem 2rem;
}

.footer p {
  font-family: "Alice", serif;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}

.footer-data {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  align-items: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.social-content p {
  font-size: 1.25rem;
}
.social-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 60px;
  height: 60px;
  cursor: pointer;

  border-radius: 50%;
}
.social-icon i {
  color: #000;
  scale: 1.5;
  transition: all 0.5s ease;
}
.social-icon i:hover {
  scale: 1.8;
}
.about {
  margin-bottom: 5rem;
}
.about .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.foot-banner img {
  border-radius: 1rem;
}
/* Laptop Design */

/* @media screen and (max-width: 70em) {
} */
/* Small Tablet Design */
@media screen and (max-width: 60em) {
  .hero {
    padding: 2rem 0;
  }
  .card {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 4rem;
    border-bottom: 2px solid black;
  }
  .card:last-child {
    border-bottom: 2px solid transparent;
    margin-bottom: 0;
  }
  .card-content {
    width: 80%;
    text-align: center;
    align-items: center;
  }
  .card-reverse .card-content {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 40em) {
  body {
    font-size: 1rem;
  }
  .footer-nav {
    padding: 2rem 1rem;
  }
  .footer-nav-list {
    gap: 0;
  }
  .footer-nav-link {
    padding: 1rem;
  }
}

@media screen and (max-width: 30em) {
  .logo-box {
    width: 50px;
    height: 50px;
  }
  .logo-box img {
    width: 100%;
    height: auto;
  }
  .nav-list {
    gap: 0;
  }
  .nav-link {
    padding: 0.5rem;
  }
  .footer-nav {
    flex-direction: column;
    gap: 4rem;
  }
  .footer-nav-list {
    gap: 2rem;
  }
  .footer-data {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
}
